:root {
  --main-bg-color: coral;
  --nav-border-color: #f5dc62;
  --main-link-color: #40F9FF;
}

  body {
    background-color: white;
    color: black;
    font-family: Alegreya;
  }
  h1 {
    font-size: 60px;
    color: dodgerblue;
    line-height: 0.9em;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  p {
    font-size: 20px;
  }

  a {
    color: black;
  }  /* static */
  a:hover {
    color: var(--main-link-color);
  }  /* mouse over link */

/* NEED TO SHED THIS AND UNDERSTAND IT */
/*  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }

  li {
    float: left;
  }*/

  li a {
    display: block;
    color: var(--main-link-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .blurb td, .blurb th {padding-top:2em; padding-bottom:2em; vertical-align:top;}
  .blurb th {padding-right:1rem; padding-left:12em}

  .bg-header {
    background-color: #10275e;
  }

  .nav-border {
    border-bottom:4px solid var(--nav-border-color);
    padding-bottom:10px;
  }

  .home-text a {
    color: var(--nav-border-color);
    text-decoration: none;
  }

  .active a {
    color: #e66c5c;
  }