:root {
  --main-bg-color: #feffe8;
  --nav-border-color: #f5dc62;
  --navbar-link-color: #40F9FF;
  --body-link-color: #ff5700;
}

  body {
    background-color: white;
    color: black;
    font-family: Alegreya;
  }
  h1 {
    font-size: 60px;
    color: dodgerblue;
    line-height: 0.9em;
    padding-top: 0.5em;
  }

  h2 {
    font-size: 40px;
    color: #0398fc;
    line-height: 0.9em;
    padding-top: 0.9em;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  p {
    font-size: 25px;
  }

  a {
    color: var(--body-link-color);
  }
  a:hover {
    opacity: 0.7;
  }

/* NEED TO SHED THIS AND UNDERSTAND IT */
/*  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
*/

  li {
    padding: 14px 16px;
    float: left;
  }

  li a {
    display: block;
    color: var(--navbar-link-color);
    text-align: center;
    /*padding: 14px 16px;*/
    font-size: 25px;
    text-decoration: none;
  }

  li a:active {
    color: var(--navbar-link-color);
  }

  li a:hover {
    opacity: 0.7;
  }

  .blurb td, .blurb th {padding-top:2em; padding-bottom:2em; vertical-align:top;}
  .blurb th {padding-right:1rem; padding-left:12em}

  .bg-header {
    background-color: #10275e;
  }

  .nav-border {
    border-bottom:4px solid var(--nav-border-color);
    padding-bottom:10px;
  }

  .home-text a {
    font-size: 25px;
    display: block;
    color: var(--nav-border-color);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }

  .home-text a:hover {
    opacity: 0.7;
  }
  
  .fa {
    padding: 15px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25%;
  }

  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
  }


  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-reddit {
    background: #ff5700;
    color: white;
  }

  .fa-github {
  background: black;
  color: white;
  }

  .main-text p {
    text-align: justify;
    padding-left: 5em;
    padding-right: 5em;
  }

  body {
    background-color: var(--main-bg-color);
  }

  .iframe-container {
    display: block;
    overflow: auto;
  }
   
  .iframe-container iframe {
    height: 100%;
    border: 0;
    /*width: 75% !important;*/
  }